.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 75%;
  min-height: 50px;
  height: auto;
  background-color: #1c6645;
  border-radius: 5px;
}

.checkbox {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin: 5px;
  border-radius: 3px;
  appearance: none;
  -webkit-appearance: none;
  border: 2px solid gray;
}

.checkbox:checked {
  border: none;
  background-image: url('https://i.imgur.com/qBq2VNh.png');
  width: 24px;
  height: 25px;
}

.checkbox:checked + .text {
  text-decoration: line-through;
  color: rgb(155, 155, 155);
}

.text {
  width: 250px;
  word-wrap: break-word;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 20px;
}

.trash {
  background-color: transparent;
  border: none;
  cursor: pointer;
}