.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.form {
  display: flex;
  gap: 30px;
}

.input {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid gray;
  color: white;
  width: 300px;
  padding: 0;
}

.button {
  background-color: rgb(26, 26, 136);
  border-radius: 5px;
  width: 80px;
  height: 35px;
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: all .2s;
}

.button:hover {
  background-color: rgb(48, 48, 131);
}